.App-foto { 
  height: 300px;
  padding: 0px;
  margin-top: 0px;
}
.Cabecera {
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  overflow: hidden;
  border:5px solid;
  margin-top: 10px;
}
.App-title {
  font-size: 5em;
  font-family: Times;
  margin-top: 0px;
  margin-left: 270px;
}
.App-boton{
  margin-right: 5px;
  margin-top: 5px;
  width: 160px;
  height: 60px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: auto;
  color: #000000;
  background-color: #4d804d;
  border-radius: 6px;
  border: 2px solid #000000;
}
.App-izq{
  text-align: left;
  margin-top: 0px;
}
.App-menu{
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  border:5px solid;
  padding: 5px;
}
.App-menu-boton1{
  margin: 0px 0px 0px 0px;
  height: auto;
}
.App-menu-boton2{
  margin: 0px 0px 0px 87%;
  width: 50%;
  height: auto;
}
.publi{
  width: auto;
  height: auto;
  background: #000000;
  border:5px solid;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.mover-der{
  float: right;
  margin-left: 5px;
}
.mover-izq{
  float: left;
  margin-right: 5px;
}
.mover-centro{
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  border:5px solid;
  padding: 5px;
  margin-right: 280px;
  margin-left: 280px;
}
.tabla{
  text-align: center;
  width: auto;
  height: auto;
  border:5px solid;
  padding: 5px;
}
.espacio-fila{
  font-family: Times;
  margin-top: 5px;
  margin-bottom: 5px;
}
@font-face {
    font-family: MiFuente;
    src: url("GreatVibes-Regular.otf") format("opentype");
}
.fuente-inicio-titulo{
  margin-top: 0%;
  font-family: MiFuente;
  font-style: italic;
  font-size: 5em; 
  font-weight: bold;
}
.fuente-inicio-descripcion{
  font-family: MiFuente;
  font-style: italic;
  font-size: 2em; 
}
.fuente-contacta{
  font-family: Times;
  font-style: normal;
  font-size: 1em; 
  font-weight: bold;
}
.ajustar-contacta{
  padding: 5px;
  margin-right: 50%;
}
.tamaño-input{
  width: 99%;
  height: 40%;
}
.tamaño-inicio{
  /*background-image: url(imagen-cotufas.jpg);
  background-size: auto auto;*/
  text-align: center;
  width: 1000px;
  height: 400px;

}
.cartel{
  width: 200px;
  height: auto;
  margin: 0px;
  border:5px solid;
  padding: 2px;
  float: left;
}
.info-peli{
  margin: 0% 0% 0% 30%;
  width:45%;
  height: 10%;
  padding: 2px;
  font-family: Times;
  font-weight: bold;
}
.trampa { 
  clear: both; 
}
.estiloLista { 
  list-style: none;
  text-align: left; 
}
.info-cine{
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  border:3px solid;
  padding: 5px;
  margin-right: 30%;
  margin-left: 25%;
}
.estiloListaCine { 
  list-style: square;
  text-align: left; 
}
.estiloSeleccion {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: transparent;
  border: 3px solid #4CAF80;
  font-size: 18px;
  border-radius: 12px;
}
.estiloSeleccion:hover{
  background-color: #4CAF80;
  border: 3px solid #4CAF80;
  font-size: 18px;
  border-radius: 12px;
}
.trailer{
  width: 450px;
  height: 300px;
  margin-bottom: 50px;
}






