.App-foto { 
  height: 300px;
  padding: 0px;
  margin-top: 0px;
}
.Cabecera {
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  overflow: hidden;
  border:5px solid;
  margin-top: 10px;
}
.App-title {
  font-size: 5em;
  font-family: Times;
  margin-top: 0px;
  margin-left: 270px;
}
.App-boton{
  margin-right: 5px;
  margin-top: 5px;
  width: 160px;
  height: 60px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: auto;
  color: #000000;
  background-color: #4d804d;
  border-radius: 6px;
  border: 2px solid #000000;
}
.App-izq{
  text-align: left;
  margin-top: 0px;
}
.App-menu{
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  border:5px solid;
  padding: 5px;
}
.App-menu-boton1{
  margin: 0px 0px 0px 0px;
  height: auto;
}
.App-menu-boton2{
  margin: 0px 0px 0px 87%;
  width: 50%;
  height: auto;
}
.publi{
  width: auto;
  height: auto;
  background: #000000;
  border:5px solid;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.mover-der{
  float: right;
  margin-left: 5px;
}
.mover-izq{
  float: left;
  margin-right: 5px;
}
.mover-centro{
  text-align: center;
  width: auto;
  height: auto;
  background: #8FBC8F;
  border:5px solid;
  padding: 5px;
  margin-right: 348px;
  margin-left: 340px;
}
.tabla{
  text-align: center;
  width: auto;
  height: auto;
  border:5px solid;
  padding: 5px;
}
.espacio-fila{
  font-family: Times;
  margin-top: 5px;
  margin-bottom: 5px;
}